<launch>
  <include file="$(find ardrone_autonomy)/launch/ardrone.launch"/>
  <node pkg="dronemis" type="dronemis_gui" name="dronemis_gui" ></node>
  <node pkg="dronemis" type="blindFlight" name="blindFlight" output="screen" launch-prefix="xterm -e"></node>
  <node pkg="dronemis" type="controller" name="controller" output="screen" launch-prefix="xterm -e"></node>
  <node pkg="dronemis" type="listener" name="listener" output="screen" launch-prefix="xterm -e"></node>
</launch>